*{
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}
body{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 250vh;
  overflow: hidden;
 
}

*,html {
  scroll-behavior: auto !important;
}
button{
  text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    writing-mode: horizontal-tb !important;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    bottom: 5px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
    height:30px;
}
#quote-box {
border-radius: 3px;
    position: absolute;
    width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px 50px;
    display: table;
    background-color: #fff;
}
#quote-box .buttons #new-quote {
  height: 38px;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #333;
  outline: none;
  font-size: 0.85em;
  padding: 8px 18px 6px 18px;
  margin-top: 30px;
  opacity: 1;
  cursor: pointer;
}
#quote-box .buttons #new-quote {
  float: right;
}
#quote-box .quote-text {
  text-align: center;
  width: 450px;
  height: auto;
  clear: both;
  font-weight: 500;
  font-size: 1.75em;
}
#quote-box #quote-author {
  width: 450px;
  height: auto;
  clear: both;
  padding-top: 20px;
  font-size: 1em;
  text-align: right;
}
.icon{
  height: 30px;
  border: none;
  border-radius: 3px;
  outline: none;
  font-size: 0.85em;
  padding: 8px 18px 6px 18px;
  margin-top: 30px;
  opacity: 1;
  cursor: pointer;
}
.icon{
  float: left;
}